.container{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}
.btn{
display: flex;
justify-content: space-around;
}
li{
    cursor: pointer;
}
img{
    cursor: pointer;
}


