.container{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}
.col.letters{
    display: flex;
    justify-content: space-evenly;
    
}
li{
    cursor: pointer;
}


