
    
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img src="/assets/img/nintendologo.png" href="#" width="20%" alt=""> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <div class="col letters" *ngIf="userService.getUser() as user" >
  
        <ul class="navbar-nav mr-auto" > 
          <li class="nav-item" routerLinkActive="active" *ngIf="auth.loggedIn">
            <a class="nav-link" routerLink="" >Home</a>
          </li>
      
          <li class="nav-item" routerLinkActive="active" routerLink="profile" *ngIf="auth.loggedIn">
            
            
          </li>
          <li class="nav-item" routerLinkActive="active" (click)="auth.logout()" *ngIf="auth.loggedIn">
            <button class="btn btn-outline-danger"> Logout</button>
          </li>
      
          <li class="nav-item" routerLinkActive="active"   *ngIf="!auth.loggedIn">
            <button class="btn btn-outline-danger" (click)="auth.login()" >Login</button>
          </li>
        </ul>
        </div>
      <form class="form-inline my-2 my-lg-0" *ngIf="auth.loggedIn">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
 