<div class="container register-form mt-5">
<form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="form-horizontal">
            
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="username">Usuario:</label>
                        <div class="col-sm-10">
                        <input type="username" id="username" formControlName="username" class="form-control"
                            placeholder="Usuario" value="" required/>
                    </div>
                </div>
        
                    <div class="form-group">
                        
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-10">
                        <input type="email" id="email" formControlName="email" id="email" class="form-control" placeholder="Email" value="" required/>
                    </div>
                </div>
            
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="password">Contraseña:</label>
                        <div class="col-sm-10">
                        <input type="password" id="password" formControlName="password"
                            (ngModelChange)="updateConfirmValidator()" class="form-control"
                            placeholder="Contraseña" value="" required />
                    </div>
                </div>
        
                        <div class="form-group">
                            <label class="control-label col-sm-10" for="password">Confirmar contraseña:</label>
                            <div class="col-sm-10">
                            <input type="password" formControlName="checkPassword" id="checkPassword"
                                class="form-control" placeholder="Confirmar contraseña" value="" required />
                        </div>
                    </div>
               
            <button type="submit" class="btn btn-danger">Registrarse</button>
            </form>
</div>
      
 